@charset "utf-8";
/*font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html,body{width: 100%;height: 100%;font-family: 'Roboto', sans-serif; word-break: keep-all;}

header#main_header{}

/*headerTop*/
.header_topWrap{width: 100%;background-color: rgb(41,47,55); position: fixed; top: 0;z-index: 99999; transition: 0.5s;}
#header_top{width: 100%;height: 50px;transition: 0.3s;}
#header_top h1{position: absolute;top: 25px; left: 50%; transform: translate(-50%, -50%); height: 50px;}
#header_top h1 a{width: 105px; height: 100%;background-image: url(../images/logo_m.png); background-position: center; background-repeat: no-repeat; background-size: 85%;}
#main_menu>ul{position: fixed;top: 0;left: -100%; background: rgb(41,47,55); width: 100%; height: 100vh;padding-top: 50px;z-index: 10;}
#main_menu ul.mobile{background-image: url(../images/logo_m.png);background-position: center 10.125px; background-repeat: no-repeat; background-size: 89.25px 29.75px;}
#main_menu>ul>li{position: relative;height: 50px;overflow: hidden;transition: 0.3s;}
#main_menu>ul>li>a{position: relative;display: block;padding-left: 20px !important;line-height: 49px;background: #292F37;border-bottom: 1px solid #3e434b;color: #fff; font-size: 17px;transition: 0.3s;z-index: 1;}
#main_menu>ul>li>a .mSlide{position: absolute;width: 49px;height: 49px;top: 0; right: 0;padding: 20.5px 18.5px;}
.mSlide img{position: relative;transform: scaleY(-1);transition: 0.3s;}
.sub_menu{position: relative;background: #23282f;transform: translateY(-100%);transition: 0.3s;}
.sub_menu li{height: 40px;}
.sub_menu li a{font-size: 15px;line-height: 39px;padding-left: 20px !important;color: #c9c9c9;font-weight: normal;border-bottom: 1px solid #292F37;}
.sub_menu li a:hover{color: #fff;}
#header_top .lynn{position: absolute;right: 10px; z-index: 1;}
#header_top .lynn a{width: 50px;height: 30px;margin: 10px 0;background-image: url(../images/woomi_lynn_m.png); position: relative; background-repeat: no-repeat;background-position: center; background-size: 90%;}
#header_top .lynn div{display: none;}
#header_top .lynn img{display: none;}

/*toggle*/
.toggleMenu{width: 50px;height: 50px;position: absolute; cursor: pointer; left: 0; top: 0;z-index: 999;}
.toggleMenu div{width: 30px; height: 3px; background: #fff;border-radius: 1.5px;position: absolute; left: 50%; transform: translateX(-50%); transition: 0.3s;}
.toggleMenu .bar1{top: 16px;}
.toggleMenu .bar2{top: 23.5px; width: 24px; left: 22px;}
.toggleMenu .bar3{top: 32px;}
.toggleMenu.click .bar1{top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-45deg) scaleX(0.9);}
.toggleMenu.click .bar2{opacity: 0;}
.toggleMenu.click .bar3{top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(45deg) scaleX(0.9);}
.overlayer{width: 100%;height: 100vh;position: fixed;background: rgba(0,0,0,0.6);z-index: 3;display: none;}

/*headerhover*/
#main_menu>ul>li>a.on{background: #00529B}
#main_menu>ul>li>a.on+ul{transform: translateY(0);}
#main_menu>ul>li>a.on img{transform: scaleY(1)}
#main_menu>ul>li>a:hover{background: #00529B;}

/*headerScroll*/

/*slider*/
.sliderWrap{height: 1000px;}
.sliderWrap .bx-wrapper {-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; border: 0 none; margin-bottom: 0; z-index:1;}
.sliderWrap .bx-wrapper .bx-pager, .sliderWrap .bx-wrapper .bx-controls-auto {bottom: 350px;}
.sliderWrap .bx-wrapper .bx-pager.bx-default-pager a{background: #e5e9ed; width: 12px; height: 12px; margin: 0 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
.sliderWrap .bx-wrapper .bx-pager.bx-default-pager a.active{background: #00529b;}
.sliderWrap .bx-wrapper .bx-pager.bx-default-pager a:hover{background: #666;}
.slider li{height: 1000px; background-repeat: no-repeat; background-position: top center; background-size: cover;}
.slider li.slider_1st{background-image: url(../images/bg_mainvisual_01_m.jpg);}
.slider li.slider_2st{background-image: url(../images/bg_mainvisual_02_m.jpg);}
.slider li.slider_3st{background-image: url(../images/bg_mainvisual_03_m.jpg);}
.slider .txtWrap{position: absolute;width: 100%;padding: 0 20px; top: 21%; left: 50%; margin-left: -50%; text-align: center; color: #333;}
.slider .txtWrap h2{font-size: 2em;font-weight: 500; opacity: 0;}
.slider .txtWrap.op h2{opacity: 1;}
.slider .txtWrap p{font-size: 14px;font-weight: 300;letter-spacing: 0.2em; transform: translate3d(0, 100%, 0); opacity: 0;}
.slider .txtWrap.op p{opacity: 1;}
.slider .title{width: 100%;/*min-width: 720px*/; max-width: 600px; height: 0; position: absolute; bottom: 298px; left: 50%; overflow: hidden; transform: translateX(-50%); transition: -0.3s;}
.slider .title img{position: absolute; bottom: 0; height: 55px;}
.slider .title.tit02 img{right: 0;}
.slider .title.tit03 img{right: 0;}
.slider .title.up {height: 91px; transition: 1.5s}

/*content*/
.content{width: 100%;/*min-width: 720px*/; max-width: 600px; height: 1000px; margin: 0 auto; margin-top: -300px; position: relative; z-index: 1; margin-bottom: 40px !important;}
.content li{float: left;width: 100%; height: 250px; position: relative; overflow: hidden;}
.content li>img{width: 100%;min-width: 515px ; transition: 0.3s;}
.content .ct1, .content .ct2,.content .ct3,.content .ct4,.content .ct5,.content .ct6,.content .ct10,.content .ct11,.content .ct8{display: none;}
.content .ct8Tablet,.content .ct7,.content .ct9,.content .ct12{width: 100% !important;}


/*img_content*/
.content .txtWrap{position: relative; height: 100%;padding-top: 78px !important; color: #fff;text-align: center;}
.content .txtWrap h3{letter-spacing: 0.05em;font-size: 14px}
.content .txtWrap h3:after{content: '';display: block; width: 50px; height: 3px;position: relative;left: 50%;transform: translateX(-50%); background-color: #fff; margin: 10px 0;}
.content .txtWrap p{font-size: 20px;}
.content .txtWrap .more{width: 220px; position: absolute; top: 55%;left: 50%; margin-left: -110px; transform: translate3d(0, 100%, 0); opacity: 0; color: #eee;}
.content li:hover .txtWrap .more{opacity: 0;-webkit-animation-name: fadeInUp; animation-name: fadeInUp; animation-duration: 0.5s; animation-fill-mode: forwards;}
.content .txtWrap .more p,.content .txtWrap .more img{display: none;}

/*personnel con*/
.personnel{height: 690px; background: url(../images/mid_bg_img4.jpg) no-repeat center fixed; background-size: cover; transition: 0.5s; margin-bottom: 40px !important;}
.personnel .section{padding-top: 23px !important;}
.personnel .section>p{font-size: 20px; line-height: 50px;}
.personnel .section>p:after{content: '';display: block; width: 50px; height: 3px; background-color: #fff; margin: 0 auto;}
.personnel .section h2{font-size: 45px;line-height: 74px; padding-bottom: 20px !important;}

/*card*/
.personnel .section ul{width: 100%; max-width: 600px; margin: 0 auto;}
.personnel .section li{float: left;position: relative; width: 50%; height: 240px;background: rgba(0,0,0,0); border: 1px solid rgba(255,255,255,0.3); transition: 0.6s; padding: 20px !important;}
.personnel .section li img{width: 100px;}
.personnel .section li h3{padding-top: 110px;font-size: 20px; text-align-last: center;text-decoration: underline !important; text-underline-position: under;}
.personnel .section li p{display: none;}

/*hover*/
.personnel .section li:hover{background: rgba(0,82,155,0.9);border: 0 none;}

/*more*/
.personnel .moreBtn{width: 40px;height: 21px; position: absolute; bottom: 20px; left: 50%; margin-left: -20px; transition: 0.3s;}
.personnel .moreBtn .bar1{width: 2px;height: 10px;background-color: #fff;position: absolute;top: 5px; left: 50%; transform: translate(-0.5px, -5px);transition: 0.3s}
.personnel .moreBtn .bar2{width: 20px;height: 2px;background-color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);transition: 0.3s}
.personnel .moreBtn .bar3{width: 2px;height: 10px;background-color: #fff;position: absolute;bottom: 5px; left: 50%; transform: translate(-0.5px, 5px);transition: 0.3s}

/*subcontent*/
.subContent{width: 100%;/*min-width: 720px*/; max-width: 600px; height: 400px; margin: 0 auto; margin-bottom: 40px !important;}
.subContent h3{font-size: 14px;}

/*management*/
.management{float: left; width: 100%;height: 250px;position: relative;overflow: hidden;}
.management>img{width: 100%;z-index: -1; transition: 0.3s;}
.management .txtWrap{width: 100%;height: 100%;}
.management .txtWrap h3:after{content: '';display: block; width: 50px; height: 3px; background-color: #fff; margin: 10px 0;}
.management .txtWrap p{font-size: 20px;}
.management .txtWrap .more{width: 220px; position: absolute; top: 55%;left: 50%; margin-left: -110px; transform: translate3d(0, 100%, 0); opacity: 0; color: #eee;}
.management:hover .txtWrap .more{opacity: 0;-webkit-animation-name: fadeInUp; animation-name: fadeInUp; animation-duration: 0.5s; animation-fill-mode: forwards;}
.management .txtWrap .more p,.management .txtWrap .more img{display: none;}

/*pr*/
.pr{float: left; width:100%; height: 150px;}
.pr>div{float: left;position: relative;width: 50%;height: 100%;}

/*iconbox*/
.pr .txtWrap{width: 100%;height: 100%; padding: 15px 20px !important;}
.pr .txtWrap h3{font-size: 18px;}
.pr .txtWrap p{width: 80%;font-size: 13px;line-height: 21px; color: rgba(255,255,255,0.3); transition: 0.3s}
.pr .txtWrap h3:after{content: '';display: block; width: 60px; height: 3px; background-color: #fff; margin: 10px 0;}
.pr .icon{display: none;}
.pr .iconBox2{background-color: #f08a1d ;}
.pr .iconBox2 h3{color: #292F37;}
.pr .iconBox2 p{color: rgba(41,47,55,0.5);}
.pr .iconBox2 h3:after{background-color: #292F37;}
.pr .moreBtn{width: 40px;height: 40px; position: absolute; bottom: 20px; right: 20px; background: #fff; border-radius: 25px;}
.pr .iconBox2 .moreBtn{width: 40px;height: 40px; position: absolute; bottom: 20px; right: 20px; background: #292F37; border-radius: 25px;}
.pr .iconBox2 .moreBtn div{background-color: #f08a1d !important;}
.pr .moreBtn .bar1{width: 2px;height: 8px;background-color: #292F37;position: absolute;top: 20px; left: 50%; transform: translate(-0.5px, -8px);transition: 0.3s}
.pr .moreBtn .bar2{width: 16px;height: 2px;background-color: #292F37; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);transition: 0.3s}
.pr .moreBtn .bar3{width: 2px;height: 8px;background-color: #292F37;position: absolute;bottom: 20px; left: 50%; transform: translate(-0.5px, 8px);transition: 0.3s}

/*imgbox*/
.pr .imgBox1, .pr .imgBox2{display: none;}

/*banner*/
.banner{width: 100%; max-width: 600px; height: 250px;background-image: url(../images/banner_img1.jpg); background-repeat: no-repeat; background-position: center; margin: 0 auto; margin-bottom: 40px !important;}
.banner>div{position: relative;float: left;height: 100%; overflow: hidden;}
.banner .bannerTxt{width: 100%;background-color: rgba(0,82,155,0.8);background-image: url(../images/icon_logo.png); background-repeat: no-repeat; background-position: 320px 80px;}
.banner .bannerTxt>p{font-size: 20px;font-weight: bold; line-height: 26px;color: #fff;}
.banner .bannerTxt a{width: 140px;height: 40px;font-size: 14px; line-height: 38px;border: 1px solid #fff;position: absolute;bottom: 30px;left: 30px;}
.banner .bannerTxt a p{position: absolute;left: 18.25px;}
.banner .bannerTxt a:hover .hv{width: 100%;}
.banner .bannerTxt a .hv{position: absolute;width: 0;height: 100%;top: 0;left: 0; background-color: #fff;transition: 0.5s;overflow: hidden;}
.banner .bannerTxt a .hv p{width: 102px;font-weight: bold;left: 18.1px;}
.banner .bannerImg{display: none;}

/*footer*/
#footer{background-color: #292f37;}
.ft_content{position: relative;width: 100%; height: 225px;margin: 0 auto; padding-top: 30px !important;}

/*familysite*/
.ft_content .fSiteWrap{position: absolute;bottom: 115px;left: 50%;transform: translateX(-50%); width: 300px; height: 30px;background: #292f37;border: 1px solid #999;transition: 0.7s;z-index: 1;}
.ft_content .fSiteWrap p{position: absolute;bottom: 0; font-size: 13px; color: #d7d7d7; text-indent: 10px;height: 28px;line-height: 30px;}
.ft_content .fSiteWrap img{position: absolute; top: 10px;right: 10px; transform: scaleY(1); transition: 1.3s; z-index: 2;}
.ft_content .fSiteWrap .familySite{display: none;position:absolute;bottom: 35px;width: 173px; padding-top: 10px;overflow: hidden;}
.ft_content .fSiteWrap .familySite a{color: #aaa; font-size: 12px;text-indent: 10px;line-height: 20px;}
.ft_content .fSiteWrap:hover{height: 183px; transition: 0.6s;}
.ft_content .fSiteWrap:hover img{transform: scaleY(-1);}
.ft_content .fSiteWrap a:hover{color: #fff !important;}

/*ect*/
.ft_content>p{font-size: 13px; color: #d7d7d7;position: relative;left: 50%;transform: translateX(-50%);}
.ft_content .addr{width: 360px;padding-top: 100px;padding-bottom: 5px;}
.ft_content .copy{width: 300px;}
.ft_content>img{position: absolute;left: 50%;height: 30px;transform: translateX(-50%);}
.ft_content .fLogo{display: none;}
/*ect*/
.cp_p01{padding: 25px 30px !important;}

/*ani*/
@keyframes roll{
	from{transform: translate(-50%, -50%) rotate(0);}		
	to{transform: translate(-50%, -50%) rotate(360deg);}		
	};
@keyframes more{
	from, to{margin-left: -20px;}
	50%{margin-left: -10px;}
	};
