@charset "utf-8";
/*reset*/
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a:visited, a:link{color: #000; text-decoration: none;}
.clearfix:after{content: '';display: block;clear: both;}

#header{width: 960px;margin: 0 auto; margin-bottom: 10px;}
#header h1 a{display: block;text-align: center; color: lightseagreen;}
#header li{float: left; width: 20%;}
#header li a{display: block;text-align: center; line-height: 40px; color: lightseagreen;border-bottom: 1px solid teal; border-top: 1px solid teal;}

.container{width: 960px;height: 1000px;margin: 0 auto; margin-bottom: 10px;}
.container .content{float: left; width: 760px; height: 100%; background: darkcyan;}
.container .aside{float: right; width: 190px; height: 100%; background: gainsboro;}

#footer{width: 960px; height: 100px; margin: 0 auto; background: #000;}

.visual{height: 300px;}
.visual h3{width: 200px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}