@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html,body{width: 100%;height: 100%;font-family: 'Roboto', sans-serif; word-break: keep-all;border: 0 none; background-color: #191C24;}
/* nav */
#navTop{position: fixed;width: 100%;height: 77px; z-index: 9998; background: rgba(0,0,0,0.7);}
#navTop ul{margin: 0 20px;}
#navTop ul li{float: left; margin-top: 11px; line-height: 55px; font-size: 18px;}
#navTop ul li:hover{background: linear-gradient(94.1deg, #FFF8A6 -0.37%, #FFE81E 62.65%, #FFAA00 99.63%);font-weight: bold; -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
#navTop ul li.active{background: linear-gradient(94.1deg, #FFF8A6 -0.37%, #FFE81E 62.65%, #FFAA00 99.63%);font-weight: bold; -webkit-background-clip: text;-webkit-text-fill-color: transparent;}
#navTop ul li+li{margin-left: calc( (100% - 412px) / 5 );}
#fp-nav.right{right: 5px;}
#fp-nav ul{margin-top: 107px;}
#fp-nav ul li{display: block; width: 30px; height: 30px; margin: 7.5px; position: relative;}
#fp-nav ul li:last-child{display: none;}
#fp-nav ul li a span{border-radius: 0;height: 20px;width: 20px;margin: -10px 0 0 -10px; background: #FFFBDC; transition: 0.5s ease-in-out;
  mask-image: url(../images/dot1.svg); mask-repeat: no-repeat; mask-position: center; mask-size: cover;
  -webkit-mask-image: url(../images/dot1.svg); -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; -webkit-mask-size: cover;}
#fp-nav ul li:hover a span{width: 25px;height: 25px;margin: -12.5px 0px 0px -12.5px;}
#fp-nav ul li a.active span,#fp-nav ul li:hover a.active span{height: 30px;width: 30px;margin: -15px 0 0 -15px;border-radius: 0;}
@media screen and (max-width: 1300px){
  #fp-nav{display: none;}
}
/* page1 */
.page1{overflow: hidden;}
.bgv{display: block; width: 100%; height: 100%;object-fit: cover;}
.overlayer{width: 100%;height: 100%;background: rgba(0,0,0,0.4);}
.logo{width: 460px; top: calc(50% - 86.5px);}
.storeWrap{width: 720px;bottom: 180px; height: 70px;}
.storeWrap .storeLink {height: 100%; float: left;}
.storeWrap .storeLink img{height: 100%;}
.storeWrap a+a{margin-left: 10px;}
.scrollWrap{bottom: 0;}
.scrollWrap a{margin-bottom: 57px;}
.scrollWrap .scrollLine{width: 1px; bottom: -10px;}
/* page2 */
.page2{background-color: #302A24; transition: 1s ease-in-out;}
.page2 .titleWrap{color: #C59771;}
.page2 .menuWrap{width: 12%; left: 10px;overflow: hidden;}
.page2 .menuWrap .menu+.menu{margin-top: 20px;}
.page2 .menu{width: 93%; position: relative; transition: 0.3s; transform: translateX(-160%);}
.page2 .menu.active{width: 100%; background: url(../images/menu_btn_hover.png) no-repeat center; background-size: cover;}
.page2 .menu.active a{width: 100%;top: calc(50% - 16px); font-size: 24px; color:white;}
.menu svg{display: block;}
.menu .menuName{position: absolute; top: calc(50% - 14px); left: 0; width: 100%; font-size: 21px; font-weight: 600; text-align: center; color: #C18243; transition: 0.3s;}
.page2 .sliderWarp{right: 100px; width: calc(88% - 200px);}
.page2 .owl-dots{display: none;}
.page2 .owl-btn{height: 90px;width: 100%;}
.page2 .prev{position: absolute; top: 15px; left: calc(12% + 10px); width: 90px; height: 60px; transform: rotate(-90deg);}
.page2 .next{position: absolute; top: 15px; right: 10px; width: 90px; height: 60px; transform: rotate(90deg);}
.sliderCover{position: absolute;top: 0;width: calc(100% + 1px);z-index: 2;}
.page2 .owl-theme .owl-nav [class*=owl-]:hover {background: transparent;}
.page2 .owl-carousel .owl-stage-outer{border-radius: 15%;}
/* page3 */
.page3{background-color: #302A24; transition: 1s ease-in-out;}
.page3 .titleWrap,.page4 .titleWrap,.page5 .titleWrap{color: #dbbf91;}
/* tabmenu */
.tabMenuWrap{width: 100%;padding: 0 20px; margin-top: 40px;}
.tabMenuWrap .tabMenu{overflow: hidden;}
.tabMenuWrap .tabMenu li{position: relative; float: left; width: calc((100% - 60px ) / 4 ); transform: translate3d(0, -100%, 0);}
.tabMenuWrap .tabMenu li+li{margin-left: 20px;}
.tabMenuWrap .tabMenu li:nth-child(2) p{font-size: 18px;}
.tabMenuWrap .tabMenu li p{width: calc(100% - 28px); height: 66px; line-height: 66px; margin-left: 14px; background: url(../images/tabMenu3.svg) no-repeat; background-size: auto 100%; font-size: 21px; color: #FFF3CD; }
.tabMenuWrap .tabMenu li.active p{background: url(../images/tabMenu4.svg) no-repeat; color: #4B2C0C;}
.tabMenuWrap .tabMenu li p:before{content: '';display: block; position: absolute; left: 0; top: 0; width: 14px; height: 66px; background: url(../images/tabMenu1.svg);}
.tabMenuWrap .tabMenu li.active p:before, .tabMenuWrap .tabMenu li.active p:after{background: url(../images/tabMenu2.svg);}
.tabMenuWrap .tabMenu li p:after{content: '';display: block; position: absolute; right: 0; top: 0; width: 14px; height: 66px; background: url(../images/tabMenu1.svg); transform: scaleX(-1);}
/* card */
.cardWrap{width: 100%; top: calc((100% + 106px) / 2); padding: 0 30px; display: none;}
.cardWrap .card{position: relative; float: left; width: calc((100% - 80px) / 5); height: 337px; top: 0;}
.cardWrap .card:hover{animation: bounce2 2.2s ease-in-out infinite;}
.cardWrap .card+.card{margin-left: 20px;}
.cardWrap .card .bg{width: 100%;}
.cardWrap .card .ch{width: 70%; top: calc(50% - 37px);}
.card .txtWrap{color: #dbbf91; margin-top: calc(22% + 20px);}
.card .txtWrap .main{font-size: 21px;}
/* cardmodal */
.page3 .modal{position: absolute; top: calc(3.5px - 50vh); left: calc((100vw - 100% ) / -2); width: 100vw; height: 100vh; z-index: 9999; display: none;}
.modal .overlay{position: absolute; width: 100%;height: 100%; background: rgba(0,0,0,0.8);}
.modal .modalCont{width: 100%;max-width: 1200px; height: calc(100% - 77px); margin-top: 77px;}
.modal .modalCont>div{float: left;}
.modal .modalCont .chWrap{position: relative; width: 60%; height: 100%;}
.modal .modalCont .chWrap .modalBg{width: 60%;}
.modal .modalCont .chWrap .modalCh{width: 115%; animation: bounce3 2.2s ease-in-out infinite;}
.cardWrap.n3st .modal .modalCont .chWrap .modalCh{left: 60%;}
.cardWrap.n4st .modal .modalCont .chWrap .modalCh{left: 65%;}
.modal .modalCont .chTxtWrap{position: relative; width: 40%; height: 100%;}
.modal .modalCont .chTxtWrap .scrollWrap{position: absolute; width: 80%; top: 50%; left: 30%; transform: translate(-50%, -50%); padding: 0 40px; color: #533F2B;}
.modal .modalCont .chTxtWrap .chTxtBg{width: 100%; left: 0; transform: translate(0 , -50%);}
.modal .modalCont .chTxtWrap .chTxt{width: 80%; height: 400px; left: 30%; color: #533F2B;}
.modal.active .chTxtWrap h2, .modal.active .chTxtWrap h4{opacity: 1 !important;}
.modal.active .chTxtWrap p{opacity: 1 !important; height: calc(100% - 253px) !important;}
.modal .modalCont .chTxtWrap h4{position: relative; font-size: 24px; white-space: nowrap; opacity: 0; transition: 0.5s ease-in 0.6s; }
.modal .modalCont .chTxtWrap h4.type{transition: 0.5s ease-in 0.2s;  }
.modal .modalCont .chTxtWrap h2{position: relative; font-size: 32px; width: 100%; white-space: nowrap; opacity: 0; transition: 0.5s ease-in 0.4s; }
.modal .modalCont .chTxtWrap p{position: relative; font-size: 18px; width: 100%; height: calc(100% - 100%); font-weight: bold; color: #775533; overflow: hidden; opacity: 0; transition: 1s ease-in 0.8s; }
.modal .modalCont .chTxtWrap .xBox{position: absolute;right: 22px; top: 14px; width: 35px;height: 35px;z-index: 1; background: url(../images/xBox.svg); background-size: cover; cursor: pointer;}
.modal .modalCont .chTxtWrap .xBox:hover{background: url(../images/xBox1.svg); background-size: cover;}
/* page4 */
.page4{background: url(../images/page4_Story.jpg) no-repeat center top; background-size: cover; overflow: hidden;;}
.page4 .backCloud{bottom: -150px; width: 1960px; opacity: 0;}
.page4 .frontCloud{bottom: -100px; width: 1960px; opacity: 0; z-index: 102;}
.page4 .chWrap{width: 100%; max-width: 1200px;bottom: 0; z-index: 101;}
.page4 .chWrap .ch{position: absolute; bottom: 0;left: 50%; width: 22%; transform: translateY(100%); opacity: 0;}
.page4 .ch.yellow{width: 27%; margin-left: -13.5%;}
.page4 .ch.pink{bottom: 30px; margin-left: 7.5%;}
.page4 .ch.purple{margin-left: -23%;}
.page4 .ch.white{bottom: 50px; margin-left: -37.5%;}
.page4 .ch.orange{width: 25%; bottom: 250px; margin-left: 25%;}
.page4 .storyTxt{width: 900px; height: 340px; position: absolute; top: 253px; left: calc(50% - 450px); cursor: url(../images/cursorScroll1.png), auto;}
.page4 .storyTxt{font-size: 24px; font-weight: bold; color: rgb(196 168 147);}
.page4 .mask{
  width: 100vw; height: 100vh;position: absolute;top: 0;left: 0;z-index: 1; background: url(../images/page4_Story.jpg) no-repeat center top; background-size: cover;
  mask-image: url(../images/mask1.png); mask-repeat: no-repeat; mask-position: center 253px; mask-size: 100% 340px;
  -webkit-mask-image: url(../images/mask1.png); -webkit-mask-repeat: no-repeat; -webkit-mask-position: center 253px; -webkit-mask-size: 100% 340px;}
/* page5 */
.page5{background-color: #463E3A; transition: 1s ease-in-out;}
.page5 .mediaList{width: 100%; top: calc(50% - 30px);}
.page5 .mediaList .media{position: relative;float: left; width: calc((100% - 90px) / 3); margin: 0 15px;}
.page5 .media .mediaImg{display: block;width: 100%; height: calc((100vw - 90px) / 3 * 9 / 16);}
.page5 .media .mediaOver{top: 0;}
.page5 .mediaCover{
  position: absolute; top: 0; left: 0; width: 100%; height: calc((100vw - 90px) / 3 * 9 / 16); cursor: pointer;
  background: #463E3A url(../images/media_frame.svg) no-repeat center; background-size: contain;
  mask-image: url(../images/frame_mask.png); mask-repeat: no-repeat; mask-position: center; mask-size: contain;
  -webkit-mask-image: url(../images/frame_mask.png); -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; -webkit-mask-size: contain;}
.page5 span{position: relative; color: #FFF3CD; font-weight: bold; font-size: 21px;line-height: 45px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.page5 span:before{content: '';display: block; position: absolute;left: -30px; top: -1px; width: 25px; height: 25px; background: url(../images/txtDeco.png) no-repeat center; background-size: cover;}
.page5 span::after{content: '';display: block; position: absolute;right: -30px; top: -1px; width: 25px; height: 25px; transform: scaleX(-1); background: url(../images/txtDeco.png) no-repeat center; background-size: cover;}
.page5 .mediaBtn{bottom: -60px; width: 180px;height: 60px;padding: 5px; background: url(../images/media_btn.svg) no-repeat center; background-size: cover;}
.page5 .mediaBtn a{color: #dbbf91;background-color: rgba(219,191,145,0); font-size: 28px; line-height: 49px; transition: 0.3s ease-out;}
.page5 .mediaBtn a:hover{color: #463E3A;background-color: rgba(219,191,145,1);font-size: 32px;}
/* modal */
.page5 .modalWrap{width: 100%; height: 100%; display: none;}
.page5 .modal{position: fixed; width: 100%; height: calc(100% - 77px); top: 77px; background: rgba(0,0,0,0.7) url(../images/media_frame.svg) no-repeat center; background-size: 960px 540px; display: none;}
.page5 .playerCover{width: 100%; height: 100%;
  background: #000 ;
  mask-image: url(../images/frame_mask2.png); mask-repeat: no-repeat; mask-position: center; mask-size: 960px 540px;
  -webkit-mask-image: url(../images/frame_mask2.png); -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; -webkit-mask-size: 960px 540px;}
.page5 .playerCover iframe{}
.page5 .modal .xBox{position: absolute;right: calc(50% - 470px); top: calc(50% - 315px); width: 40px;height: 40px; background: url(../images/xBox2.svg); background-size: cover; cursor: pointer; transition: 0.5s ease-out; }
.page5 .modal .xBox:hover{background: url(../images/xBox3.svg); background-size: cover;}

@media screen and (min-width: 1200px){
  .page5 .mediaCover{height: 208.125px;}
  .page5 .media .mediaImg{height: 208.125px;}
}
/* footer */
.footer{background-color: #463E3A; color: #FFF3CD; transition: 1s ease-in-out;}
.footer .snsWrap{width: 320px;}
.footer .sns{float: left; width: 60px;height: 60px;margin: 0 10px;}
.footer .sns.face{background: url(../images/sns_face.svg); transition: 0.5s ease;}
.footer .sns.face:hover{background: url(../images/sns_face1.svg);}
.footer .sns.tw{background: url(../images/sns_tw.svg); transition: 0.5s ease;}
.footer .sns.tw:hover{background: url(../images/sns_tw1.svg);}
.footer .sns.you{background: url(../images/sns_you.svg); transition: 0.5s ease;}
.footer .sns.you:hover{background: url(../images/sns_you1.svg);}
.footer .sns.blog{background: url(../images/sns_blog.svg); transition: 0.5s ease;}
.footer .sns.blog:hover{background: url(../images/sns_blog1.svg);}
.footer .serviceWrap{width: 480px;}
.footer .ftBtn{float: left; width: 120px;height: 40px; padding: 3px; margin: 0 10px; background: url(../images/footer_btn1.svg) no-repeat center; background-size: cover;}
.footer .ftBtn.long{width: 180px;background: url(../images/footer_btn2.svg);}
.footer .ftBtn a{color: #FFF3CD; background-color: rgba(255,243,205,0); line-height: 34px; transition: 0.3s ease-out;}
.footer .ftBtn a:hover{color: #191c24; background-color: rgba(255,243,205,1); font-weight: bold;}
.footer .footerLogo{width: 340px !important;}
/* same/ */
.page2 .container,.page3 .container,.page4 .container,.page5 .container{height: 100%;}
.border{position: relative; width: 100%;}
.border img{width: 168px; position: absolute; opacity: 0;}
.border img.leftTop{top: 117px ;left: 10px;}
.border img.rightTop{top: 117px ;right: 10px; transform: scaleX(-1);}
.titleWrap {top: 117px; overflow: hidden;}
.titleWrap .enTitle{font-size: 30px;}
.titleWrap .koTitle{font-size: 60px;}
.content{position: absolute;bottom: 0; width: 100%; height: calc(100vh - 224px);}
.enTitle{transform: translate3d(0, -100%, 0);}
.koTitle{transform: translate3d(0, 100%, 0);}
/* ani */
@keyframes bounce2{
from, to{top: 0px;}
50%{top: -20px;}
}
@keyframes bounce3{
from, to{top: 50%;}
50%{top: calc(50% - 20px);}
}
@keyframes ch{
  from, to{margin-bottom: 0;}
  50%{margin-bottom: 20px;}
}
@keyframes cloud{
  from, 50%, to{margin-left: 0;}
  25%{margin-left: -20px;}
  75%{margin-left: 20px;}
}
